.sticky-menu {
  position: sticky;
  top: 56px;
  /*   left: 50%;
  transform: translate(-50%, 0); */

  margin: 0 auto;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  z-index: 50;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  background-color: #4a69bd;

  border-radius: 48px;
}
