<!-- Heroビュー -->
<section class="hero">
  <div class="hero-content">
    <h1>昭和の味と酒が楽しめる<br />やきとん酒場</h1>
    <p>
      厳選された豚串と全国各地の日本酒をお楽しみいただける、昔ながらの居酒屋です。<br
      />親しみやすい雰囲気の中で、心温まるひとときをお過ごしください。
    </p>
    <div>
      <a href="#menu" class="btn">メニューを見る</a>
      <a href="tel:000-0000-0000" class="btn btn-outline">ご予約はこちら</a>
    </div>
  </div>
</section>
