---
import { Image } from "astro:assets"
import heroImage from "../../assets/design/h_kv.png"
import LinkButton from "../ui/LinkButton.astro"
import { sectionId } from "@/data/site"
---

<!-- Heroビュー -->
<section
  class="h-dvh flex items-center justify-center text-center bg-gray-200 text-foreground border-foreground"
>
  <div class="grid place-items-center place-content-center gap-28 z-10">
    <Image src={heroImage} alt="heroImage" class="w-[90vw] max-w-4xl" />

    <div class="grid grid-cols-2 items-center gap-4 w-full px-4 md:w-4/5">
      <LinkButton
        href={`#${sectionId.menu.title}`}
        text="メニューを見る"
        variant="primary"
        size="md"
      />
      <LinkButton
        href={`#${sectionId.shopInfo.blocks.contact}`}
        text="ご予約"
        variant="secondary"
        size="md"
      />
    </div>
  </div>
</section>
