<!-- Heroビュー -->
<section class="hero">
  <div class="hero-content">
    <h1>串とんと日本酒の店、<br />三代目ひょうたん</h1>
    <p>
      串とんと日本酒の店「三代目ひょうたん」は珍しい豚の部位を使用した焼きとんと、店長自ら買付している入手困難な日本酒をお手頃価格で楽しめるのがウリの昭和居酒屋です。
    </p>
    <p>
      一人でまったり飲みながら、気さくな店長との会話を楽しむも良し。お連れ様で盛り上がるもよし。
      スタッフ一同お待ちしておりますので、どうぞ気兼ねなくご来店ください。
    </p>
    <div>
      <a href="#menu" class="btn">メニューを見る</a>
      <a href="tel:000-0000-0000" class="btn btn-outline">ご予約はこちら</a>
    </div>
  </div>
</section>
