---
import { navLinks } from '@/data/navlinks'
import { basicInfoSection } from '@/data/shopInfo'

const openingTimes = basicInfoSection.items[0]
---

<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-column">
        <h3>やきとん酒場</h3>
        <p>昭和の雰囲気が味わえる、やきとんと日本酒のお店です。</p>
        <div class="social-icons">
          <a href="#" class="social-icon">F</a>
          <a href="#" class="social-icon">I</a>
          <a href="#" class="social-icon">T</a>
        </div>
      </div>
      <div class="footer-column">
        <h3>リンク</h3>
        <ul class="footer-links">
          {
            navLinks.map((link) => (
              <li>
                <a href={link.href}>{link.label}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="footer-column">
        <h3>{openingTimes.title}</h3>
        {openingTimes.contents.map((content) => <li set:html={content} />)}
      </div>
    </div>
    <div class="copyright">&copy; 2025 やきとん酒場 All Rights Reserved.</div>
  </div>
</footer>
