---
import { navLinks } from "@/data/site"
---

<footer class="bg-accent-foreground/90 text-background pt-14 pb-7">
  <div class="">
    <div class="grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))]">
      <div class="">
        <h3 class="font-2xl mb-5 relative pb-3">やきとん酒場</h3>
        <p>昭和の雰囲気が味わえる、やきとんと日本酒のお店です。</p>
        <div class="">
          <a href="#" class="">F</a>
          <a href="#" class="">I</a>
          <a href="#" class="">T</a>
        </div>
      </div>
      <div class="">
        <h3>リンク</h3>
        <ul class="">
          {
            navLinks.map((link) => (
              <li>
                <a href={link.href}>{link.label}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class=""></div>
    </div>
    <div class="copyright">&copy; 2025 やきとん酒場 All Rights Reserved.</div>
  </div>
</footer>
