---
import { navLinks, siteMeta, snsLinks } from "@/data/site"
import { Image } from "astro:assets"

// SNSロゴのインポート
import instagramLogo from "../assets/logo/brandlogo-instagram.png"
import lineLogo from "../assets/logo/brandlogo-line.png"
import xLogo from "../assets/logo/brandlogo-x.png"

// SNSロゴのマッピング
const logoMap = {
  Instagram: instagramLogo,
  X: xLogo,
  LINE: lineLogo,
}
---

<footer class="bg-foreground/90 text-background pt-14 pb-7">
  <!-- コピーライト -->
  <div class="border-background/20 pt-6 text-center text-sm font-thin text-background/60">
    &copy; {new Date().getFullYear()} 串とん亭日本酒酒場 三代目ひょうたん All Rights Reserved.
  </div>
</footer>
