---
// Section.astro
interface Props {
  id: string
  title: string
  class?: string
  isPaddingX: boolean
}

const { id, title, class: className = "", isPaddingX = true } = Astro.props
---

<section
  id={id}
  class={`w-full max-w-full h-max my-8 scroll-pt-72 scroll-smooth ${className} grid grid-cols-1 justify-center `}
>
  <div class="mb-6 px-4">
    <h2 class="font-webfont text-4xl text-foreground/75 tracking-wider">
      {title}
    </h2>
  </div>
  <div class={`section-content ${isPaddingX ? "px-4" : ""}`}>
    <slot />
  </div>
</section>
