---
// Section.astro
interface Props {
  id: string
  title?: string
  customTitle?: boolean
}

const { id, title, customTitle = false } = Astro.props
---

<section
  id={id}
  class={`w-full max-w-full h-max my-8 scroll-pt-72 scroll-smooth grid grid-cols-1 justify-items-center justify-center gap-8`}
>
  {
    customTitle ? (
      <slot name="customTitle" />
    ) : (
      <h2 class="font-webfont text-3xl md:text-5xl tracking-wider w-full">{title}</h2>
    )
  }
  <div class={`section-content w-full max-w-7xl px-1`}>
    <slot />
  </div>
</section>
